.hero {
  text-align: center;
  padding: 4em 0;
  background-color: #222;
  color: #fff;
}

/* Grid layout for projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  padding: 2em;
}

.project-card {
  background: #333;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 0;
  padding: 1em;
  background-color: #444;
  text-align: center;
}

.project-card p {
  padding: 1em;
}

.skills span {
  background: #444;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
}
.navbar {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f39c12; /* Change to your preferred hover color */
}
